* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  min-height: 100vh;
}

#login-form {
  align-items: center;
  background-color: rgb(90, 80, 66);
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 200px auto;
  max-width: 40%;
  min-height: 300px;
}
